body {
  font-family: Arial, sans-serif;
  background: #f9f5fb;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.contato {
  padding: 2rem;
  border-radius: 15px;
  text-align: center;
}

.icones-contato {
  margin: 1rem 0;
}

.icones-contato a {
  margin: 0 10px;
  font-size: 24px;
  color: #444;
  transition: 0.3s;
}

.icones-contato a:hover {
  color: #0077b5; /* Azul LinkedIn */
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 800px;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
}

button {
  background: #6a1b9a;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #4a0072;
}